POSTGRES_DB=emprely
POSTGRES_USER=emprely
POSTGRES_PASSWORD=troque-esta-senha-postgres-beta
POSTGRES_PORT=5432

API_PORT=8080
WEB_PORT=8081
API_PUBLIC_URL=https://api.emprely.com.br
WEB_PUBLIC_URL=https://app.emprely.com.br

JWT_ISSUER=Emprely
JWT_AUDIENCE=Emprely.Web
JWT_SIGNING_KEY=troque-esta-chave-jwt-beta-com-mais-de-32-caracteres
JWT_EXPIRATION_MINUTES=120

ADMIN_OPERACOES_KEY=troque-esta-chave-admin-beta-com-mais-de-32-caracteres
ADMIN_PAINEL_OWNER_EMAIL=Bruno.jr.ti@hotmail.com

RATE_LIMIT_AUTH_PERMIT_LIMIT=30
RATE_LIMIT_ADMIN_PERMIT_LIMIT=10
RATE_LIMIT_WINDOW_SECONDS=60
